include ./mixins/navbar

html
    link(rel="stylesheet", type='text/css', href='/main.css')
    head
        title="Joust!"
    body
        +navbar(isAuthenticated, authedPlayer)
        h3(class="error")="Something went majorly wrong"
        p=message