include ./mixins/navbar
html
    link(rel="stylesheet", type='text/css', href='/main.css')
    head
        title="Joust!"
    body
        +navbar(isAuthenticated, authedPlayer)
        if isAuthenticated
            h4
                a(href="/create") Create tournament

        p="All tournaments:"
        each val in tournaments
            -const formattedTournament= val.name + " (" + val.entries.length + "/" + val.maxPlayers + ") " + val.startDate
            li
                a(href=`/${val.id}`) #{formattedTournament}

