include ./mixins/entry.pug
html(lang='en')
    link(rel="stylesheet", type='text/css', href='/main.css')

    body
        h2
            a(href='/') Joust

        h3="Create tournament"
        form(id="create-tournament" action="/create" method="post")
            +entry("name", "Name", "My Local Tournament")
            +text_entry("description", "Description", "Give some details...")
            +entry("location", "Location", "1600 Pennsylvania Ave")
            +entry("startDate", "Start date", "", "datetime-local")
            +entry("endDate", "End date", "", "datetime-local")
            +entry("maxPlayers", "Max players", "32", "number")
            +entry("maxRating", "Max rating", "1500", "number", false)
            input(type="submit" value="Create tournament")


